.innerContent{
    background-color: blue;
    border-color:brown;
    border-width: thick;
    flex: 1;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 0 10px 10px;
    
}



#container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

}

.divList{
    background-color: yellow;
    display: flex;
    flex: 1;


    
}

html, body{
    margin: 0;
    height: 100%;

}